.header__link {
    color: #2f80ed;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
  }
  .header__link:hover {
    opacity: 0;
    transition: opacity 5s ease;
  }